<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Angular Graph Tutorial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="navlink">Home</a><!-- TODO: Set active -->
          </li>
          <!-- TODO: Only show if authenticated -->
          <li *ngIf="false" class="nav-item">
            <a routerLink="/calendar" class="navlink">Calendar</a><!-- TODO: Set active -->
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="https://docs.microsoft.com/graph/overview" target="_blank"><i
                class="fas fa-external-link-alt mr-1"></i>Docs</a>
          </li>
          <li *ngIf="false" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div *ngIf="false; then userAvatar else defaultAvatar"></div>
              <ng-template #userAvatar>
                <img src="TODO" class="rounded-circle align-self-center mr-2" style="width: 32px;">
              </ng-template>
              <ng-template #defaultAvatar>
                <i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
              </ng-template>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h5 class="dropdown-item-text mb-0">{{user.displayName}}</h5>
              <p class="dropdown-item-text text-muted mb-0">{{user.email}}</p>
              <div class="dropdown-divider"></div>
              <a routerLink="/signout" class="dropdown-item">Sign Out</a>
            </div>
          </li>
          <li *ngIf="true" class="nav-item">
            <a routerLink="/signin" class="nav-link">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>